<div class="container"><!--Card-->
  <div class="row mx-auto">
  <div class="col-md-4">
      
          <!--Card1-->
          <div class="card card-cascade narrower">
      
              <!--Card image-->
              <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                  <video class="img-fluid" autoplay loop poster="./assets/img/enseigne-aplus.jpg">
                      <source src="./assets/video/aplus-sa-nos-bureaux.mp4" type="video/mp4" />
                  </video>
                  <a>
                      <div class="mask"></div>
                  </a>
              </div>
              <!--/.Card image-->
      
              <!--Card content-->
              <div class="card-body">
                  <h5 class="pink-text"><i class="fa fa-building"></i> Conception & Développement </h5>
                  <!--Title-->
                  <!--Text-->
                  <p class="card-text">Nos bureaux d’études proposent des réponses sur mesure en fonction de vos projets d’informatique industrielle, d’interfaces et/ou de systèmes d’affichage. À partir de vos spécifications, nous développons des solutions adaptées à vos contraintes. Nous prenons en charge les qualifications, les adaptations nécessaires et la personnalisation (peinture, sérigraphie...) du matériel que nous concevons.</p>
              </div>
              <!--/.Card content-->
      
          </div>
          <!--/.Card1-->
  </div>
      <!--Card2-->
  <div class="col-md-4">
      
      <div class="card card-cascade narrower">
          
                  <!--Card image-->
                  <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                      <video class="img-fluid" autoplay loop poster="./assets/img/enseigne-aplus.jpg">
                          <source src="./assets/video/aplus-sa-notre-atelier.mp4" type="video/mp4" />
                      </video>
                      <a>
                          <div class="mask"></div>
                      </a>
                  </div>
                  <!--/.Card image-->
          
                  <!--Card content-->
                  <div class="card-body">
                      <h5 class="pink-text"><i class="fa fa-cogs"></i> Production & Intégration </h5>
                      <!--Title-->
                      <!--Text-->
                      <p class="card-text">Nos locaux, d’une surface totale de 4 000 m2, comprennent une zone de 1 000 m2 dédiée aux opérations d’intégration. Le montage et les tests standards peuvent être complétés par des tests spécifiques, selon le cahier des charges que nous établissons ensemble.</p>
                  </div>
                  <!--/.Card content-->
          
              </div>
              <!--/.Card2-->
    <!--/.Card-->
</div>
<!--card3-->
<div class="col-md-4">
    
        <!--Card1-->
        <div class="card card-cascade narrower">
    
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <video class="img-fluid" autoplay loop poster="./assets/img/enseigne-aplus.jpg">
                    <source src="./assets/video/aplus-sa-notre-stock.mp4" type="video/mp4" />
                </video>
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
    
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text"><i class="fa fa-shield"></i> Importation & Commercialisation </h5>
                <!--Title-->
                <!--Text-->
                <p class="card-text">APLUS Système Automation distribue une gamme complète de sous-ensembles et de produits sélectionnés parmi un panel de partenaires reconnus et leaders sur leur marché. Ces composants peuvent être intégrés à des ensembles plus complexes, ou distribués nus auprès de professionnels. Nous assurons en interne les services support pour l’ensemble de nos gammes.</p>
            </div>
            <!--/.Card content-->
    
        </div>
        <!--/.Card1-->
</div>
</div>