<div class="container">
  <div class="row">
    <div class="col-lg-12">


      <!-- Nav Tabs -->
      <mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-4 light-green'" [contentClass]="'card'">
        <!--Panel 1-->
        <mdb-tab heading="Présentation">
          <div class="row">
            <div class="col-12">
              <br>
              <p class="jumbotron">Créée en 1988, la société APLUS Système Automation est l’un des leaders français du secteur de l’informatique
                industrielle. Nos équipes et nos bureaux régionaux disposent de savoir-faire étendu sur de multiples applications
                métiers, dans les secteurs de la distribution, de la défense, de la sécurité et de l’industrie. Les plus
                grandes entreprises françaises et européennes nous font confiance depuis de nombreuses années.</p>
              <!--Carousel Wrapper-->
              <mdb-carousel [animation]="'slide'">
                <!--First slide-->
                <mdb-slide>
                  <img class="d-block w-100" src="./assets/img/slide-societe/magasin01.jpg" alt="First slide">
                </mdb-slide>
                <!--/First slide-->
                <!--Second slide-->
                <mdb-slide>
                  <img class="d-block w-100" src="./assets/img/slide-societe/magasin02.jpg" alt="Second slide">
                </mdb-slide>
                <!--/Second slide-->
                <!--Third slide-->
                <mdb-slide>
                  <img class="d-block w-100" src="./assets/img/slide-societe/magasin03.jpg" alt="Third slide">
                </mdb-slide>
                <!--/Third slide-->
                <mdb-slide>
                  <img class="d-block w-100" src="./assets/img/slide-societe/magasin04.jpg" alt="Fourth slide">
                </mdb-slide>
              </mdb-carousel>
              <!--/.Carousel Wrapper-->
            </div>
          </div>
        </mdb-tab>
        <!--Panel 2-->
        <mdb-tab heading="Les chiffres clés">
          <div class="row">
            <div class="col-md-12">

              <!--Card-->
              <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up blue-gradient">
                </div>

                <!--Avatar-->
                <div class="avatar">
                  <img src="./assets/img/enseigne-aplus.jpg" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                  <!--Name-->
                  <h4 class="card-title">Date de création</h4>
                  <!--Quotation-->
                  <p>
                    <i class="fa fa-quote-left"></i> 1988</p>

                  <hr>
                  <h4 class="card-title">Nombre de salariés</h4>
                  <!--Quotation-->
                  <p>
                    <i class="fa fa-quote-left"></i> 50 personnes</p>
                  <hr>
                  <h4 class="card-title">Chiffre d'affaires 2012</h4>
                  <!--Quotation-->
                  <p>
                    <i class="fa fa-quote-left"></i>14,8 millions d'€</p>
                  <hr>
                  <h4 class="card-title">Capacité de production</h4>
                  <!--Quotation-->
                  <p>
                    <i class="fa fa-quote-left"></i>1200 systèmes par mois</p>
                  <hr>
                  <h4 class="card-title">Certifié ISO 9001 depuis 2004</h4>
                  <hr>
                  <!--Quotation-->
                </div>

              </div>
              <!--/.Card-->
            </div>
          </div>
        </mdb-tab>
        <!--Panel 3-->
        <mdb-tab heading="Implantations">
          <div class="row">
            <div class="col-12">
              <br>
              <img src="./assets/img/implantations.jpg" alt="certificat ISO 9001" class="img-thumbnail mx-auto d-block">
            </div>
          </div>
        </mdb-tab>
        <!--Panel 4-->
        <mdb-tab heading="Certifications">
          <div class="row">
            <div class="col-12">
              <br>
              <img src="./assets/img/certifications/certificat.jpg" alt="certificat ISO 9001" class="img-thumbnail mx-auto d-block">
            </div>
          </div>
        </mdb-tab>
      </mdb-tabset>

    </div>
  </div>
</div>
