<mdb-navbar SideClass="navbar  navbar-expand-lg navbar-inverse fixed-top scrolling-navbar">
  <logo>
      <p class="navbar-brand orange-text font-weight-bold font-italic ">Depuis 1988</p>
    </logo>
    <links>
      <form class="form-inline waves-light waves-light ml-auto" mdbRippleRadius>
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success btn-sm my-0 waves-light" type="submit" mdbRippleRadius>Search</button>
      </form>
     <div class="socio">
       <a><i class="fa fa-2x fa-facebook-official orange-text" aria-hidden="true"></i></a>
       <a><i class="fa fa-2x fa-twitter-square orange-text" aria-hidden="true"></i></a>
       <a><i class="fa fa-2x fa-linkedin-square orange-text" aria-hidden="true"></i></a>
      </div>
  </links>
</mdb-navbar>
<!--Carousel Wrapper-->
<mdb-carousel [animation]="'slide'">
  <!--First slide-->
  <mdb-slide>
    <img class="d-block w-100" src="../../assets/img/slide/slide-informatique.jpg" alt="First slide"    >
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <img class="d-block w-100" src="../../assets/img/slide/slide-industrie.jpg" alt="Second slide" >
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <img class="d-block w-100" src="../../assets/img/slide/slide-defense.jpg" alt="Third slide">
  </mdb-slide>
  <!--/Third slide-->
  <!--Fourth slide-->
  <mdb-slide>
    <img class="d-block w-100" src="../../assets/img/slide/slide-digital.jpg" alt="Fourth slide" >
  </mdb-slide>
  <!--/Fourth slide-->
  <!--Fifth slide-->
  <mdb-slide>
    <img class="d-block w-100" src="../../assets/img/slide/slide-pos.jpg" alt="Fifth slide" >
  </mdb-slide>
  <!--/Fifth slide-->
  
</mdb-carousel>
<!--/.Carousel Wrapper-->



<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue darken-3 scrolling-navbar">
  <logo>
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="../../assets/img/logo.png" height="30" alt="">
      </a>
    </logo>
  <links>
    <div class="navbar-nav ">
      <a class="nav-item nav-link active waves-light" [routerLink]="['/home']" mdbRippleRadius>ACCUEIL
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link waves-light " [routerLink]="['/presentation']" mdbRippleRadius>LA SOCIÉTÉ</a>
      <a class="nav-item nav-link waves-light" [routerLink]="['/competence']" mdbRippleRadius>NOS COMPÉTENCES</a>
      <a class="nav-item nav-link waves-light" [routerLink]="['/produit']" mdbRippleRadius>NOS PRODUITS</a>
      <a class="nav-item nav-link waves-light" [routerLink]="['/partenaires']" mdbRippleRadius>NOS PARTENAIRES</a>
      <a class="nav-item nav-link waves-light disabled"  mdbRippleRadius>ACTUALITÉS</a>
      <a class="nav-item nav-link waves-light" [routerLink]="['/contact']" mdbRippleRadius>CONTACT</a>

    </div>
  </links>
</mdb-navbar>
<router-outlet></router-outlet>

<!--Footer-->
<footer class="page-footer blue darken-3 center-on-small-only">
<!--Copyright-->
<div class="footer-copyright">
  <div class="container-fluid">
    © 2017 Copyright:
    <a href="https://aplus-sa.com"> aplus-sa.com </a>
  </div>
</div>
<!--/.Copyright-->
</footer>
<!--/.Footer-->
