<div class="container">
  <div class="row">
 <!--Rotating card-->     
<div class="col-md-3" *ngFor="let part of partList">
    <mdb-card-rotating #card>
        <!--Front Side-->
        <div class="face front card tp-box_side tp-box_front">
            <!-- Image-->
            <div class="mx-auto">
                <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                    <img [src]="part.partImgUrl" [alt]="part.partenaireName" class="img-fluid" alt="" width="100%">
                    
                </div>
            </div>
            <!--/.Image-->

            <!--Content-->
            <div class="content">
                <h4>{{part.partenaireName | uppercase }}</h4>
                <a class="rotate-btn" data-card="card-2" (click)="card.toggle()"><i class="fa fa-chevron-right"></i></a>
                <hr>
                <p>{{part.partDetail}}</p>
            </div>
            <!--/.Content-->

        </div>
        <!--/.Front Side-->

        <!--Back Side-->
        <div class="face back tp-box_side tp-box_back">
            <!--Title-->
            <h4 class="card-title">Voir site <i class="fa fa-close rotate-btn" (click)="card.toggle()"></i></h4>
            <hr>

            <!--link Icons-->
            <a class="btn-floating btn-lg purple-gradient waves-light" mdbRippleRadius href={{part.partenaireUrl}}><i class="fa fa-link"> </i></a>
                

            <h5>{{part.partenaireName}}</h5>
            <hr>

            
            <p>{{part.partDetail}}</p>
            

        </div>
        <!--/.Back Side-->
    </mdb-card-rotating>
</div>
<!--/.Rotating card-->

 <!-- Image thumbnails partenaires-->
 

<!--/.Rotating card-->
</div>
</div>
