<div class="container">
  <!--Section: Blog v.3-->
<section class="section extra-margins pb-3 text-center text-lg-left">
    
        <!--Section heading-->
        <h2 class="section-heading h1 pt-4">Actualités</h2>
        <!--Section description-->
    
        <!--Grid row-->
        <div class="row" *ngFor="let news of newsList">
    
            <!--Grid column-->
            <div class="col-lg-4 mb-4">
                <!--Featured image-->
                <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                    <img src="{{news.illustration}}" alt="First sample image">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-7 mb-4">
                <!--Excerpt-->
                <a href="" class="teal-text"><h6 class="pb-1"><i class="fa fa-heart"></i><strong> {{news.secteur}}</strong></h6></a>
                <h4 class="mb-4"><strong>{{news.titre}}</strong></h4>
                <p>{{news.content}}</p>
                <p>by <a><strong>Jessica Clark</strong></a>, {{news.date}}</p>
                <a class="btn btn-primary waves-light" mdbRippleRadius>Read more</a>
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
          
    </section>
    <!--Section: Blog v.3-->
</div>