<div class="container">
  <div class="row mx-auto">
    <!--Card-->
    <div class="card card col-md-3 col-lg-3" *ngFor="let cat of produit">

        <!--Card image-->
        <div class="view overlay hm-white-slight waves-light view hm-zoom" mdbRippleRadius>
            <img [src]='cat.categorieImg' class="img-fluid mx-auto" style="max-height:150px">
            
            <a [routerLink]="['/produit',cat.categorieUrl]">
                <div class="mask"></div>
            </a>
        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <p class="card-title">{{cat.categorieName}}</p>
            <p class="card-text text-center"><a [routerLink]="['/produit',this.cat.categorieSeller[i].sellerPage]" *ngFor='let img of this.cat.categorieSeller, index as i'><img  [src]='cat.categorieSeller[i].sellerUrl' class="img-fluid" style="max-width:80px"></a></p>
            

        </div>
        <!--/.Card content-->
      </div>
