<div class="container-fluid view intro hm-white-light">
    <div class="container">
  <div class="row jumbotron">
    <div class="col-lg-6">
  <!--Section heading-->
  <h2 class="section-heading h1 my-5"><img src="./assets/img/picto-logo-bleu.png" alt="APLUS picto logo">&nbsp;Les solutions d'un Leader</h2>
  
      <!--Section description-->
      <p class="section-description">Nos solutions sont mises en œuvre dans les secteurs du commerce et de l’industrie, du transport et de la logistique, des télécommunications, de la monétique, de l’agroalimentaire, de la défense et la santé. </p>
    </div>
    <div class="col-lg-6">
  <!--Carousel Wrapper-->
<mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
    <!--First slide-->
    <mdb-slide>
        <img class="d-block mx-auto w-100" src="./assets/img/slide-nouveaux/slide01.png" alt="First slide">
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
        <img class="d-block mx-auto w-100" src="./assets/img/slide-nouveaux/slide02.png" alt="Second slide">
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
        <img class="d-block mx-auto w-100" src="./assets/img/slide-nouveaux/slide03.png" alt="Third slide">
    </mdb-slide>
    <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
</div>
</div>
<div class="row jumbotron">
  <!--Section: Magazine v.2-->
  <div class="col-lg-8 mx-auto">
<section class="section mx-auto magazine-section">
  
      <!--Grid row-->
      <div class="row text-left">
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-12">
  
              <!--Featured news-->
              <div class="single-news">
  
                  <!--Image-->
                  <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                      <img src="http://www.aplus-sa.com/tl_files/client/actualites/MPL_xeon_serveur_durci_2.png" alt="Wider sample post image">
                      <a>
                          <div class="mask"></div>
                      </a>
                  </div>
  
                  <!--Excerpt-->
                  <div class="news-data">
                      <a href="" class="deep-orange-text"><h6><i class="fa fa-newspaper-o"></i><strong> Actualités</strong></h6></a>
                      <p><strong><i class="fa fa-clock-o"></i> 27/02/2016</strong></p>
                  </div>
  
                  <h4><a><strong>Serveur XEON durci fanless.</strong></a></h4>
  
                  <p align="justify">Le MXCS (MPL Xeon Class Server) apporte de la puissance de traitement à vos applications embarquées.    Cette nouvelle architecture de serveur est particulièrement robuste et performante.
                  </p>
  
              </div>
              <!--/Featured news-->
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-12">
  
              <!--Small news-->
              <div class="single-news">
  
                  <div class="row">
                      <div class="col-md-3">
  
                          <!--Image-->
                          <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                              <img src="http://www.aplus-sa.com/tl_files/client/actualites/Pdf/mignature_xeon.jpg" alt="Minor sample post image">
                              <a>
                                  <div class="mask"></div>
                              </a>
                          </div>
                      </div>
  
                      <!--Excerpt-->
                      <div class="col-md-9">
                          <p><strong>26/02/2016</strong></p>
                          <a>Duis aute irure dolor in reprehenderit in voluptate.
                              <i class="fa fa-angle-right"></i>
                          </a>
                      </div>
  
                  </div>
              </div>
              <!--/Small news-->
  
              <!--Small news-->
              <div class="single-news">
  
                  <div class="row">
                      <div class="col-md-3">
  
                          <!--Image-->
                          <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                              <img src="http://www.aplus-sa.com/tl_files/client/actualites/mignature_summit_outdoor.jpg" alt="Minor sample post image">
                              <a>
                                  <div class="mask"></div>
                              </a>
                          </div>
                      </div>
  
                      <!--Excerpt-->
                      <div class="col-md-9">
                          <p><strong>25/02/2016</strong></p>
                          <a>Duis aute irure dolor in reprehenderit in voluptate.
                              <i class="fa fa-angle-right"></i>
                          </a>
                      </div>
  
                  </div>
              </div>
              <!--/Small news-->
  
              <!--Small news-->
              <div class="single-news">
  
                  <div class="row">
                      <div class="col-md-3">
  
                          <!--Image-->
                          <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                              <img src="http://www.aplus-sa.com/tl_files/client/actualites/mignature_abox5000.jpg" alt="Minor sample post image">
                              <a>
                                  <div class="mask"></div>
                              </a>
                          </div>
                      </div>
  
                      <!--Excerpt-->
                      <div class="col-md-9">
                          <p><strong>24/02/2016</strong></p>
                          <a>Duis aute irure dolor in reprehenderit in voluptate.
                              <i class="fa fa-angle-right"></i>
                          </a>
                      </div>
  
                  </div>
              </div>
              <!--/Small news-->
  
              <!--Small news-->
              <div class="single-news">
  
                  <div class="row">
                      <div class="col-md-3">
  
                          <!--Image-->
                          <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                              <img src="http://www.aplus-sa.com/tl_files/client/actualites/Pdf/mignature_congatec.jpg" alt="Minor sample post image">
                              <a>
                                  <div class="mask"></div>
                              </a>
                          </div>
                      </div>
  
                      <!--Excerpt-->
                      <div class="col-md-9">
                          <p><strong>23/02/2016</strong></p>
                          <a>Duis aute irure dolor in reprehenderit in voluptate.
                              <i class="fa fa-angle-right"></i>
                          </a>
                      </div>
  
                  </div>
              </div>
              <!--/Small news-->
  
          </div>
          <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
  </section>
</div>
<div class="col-lg-4">
   <!--Section: Features v.2-->
<section class="section feature-box">
        <!--Grid row-->
        <div class="row features-small jumbotron">
    
            <!--Grid column-->
            <div class="col-md-12 mb-r">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-bullhorn blue-text"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="feature-title">Conception</h4>
                    <a class="btn btn-primary btn-sm ml-0 waves-light" [routerLink]="['/competence']" mdbRippleRadius>Learn more</a>
                </div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-12 mb-r">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-cogs pink-text"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="feature-title">Production</h4>
                    <a class="btn btn-pink btn-sm ml-0 waves-light" [routerLink]="['/competence']" mdbRippleRadius>Learn more</a>
                </div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-12 mb-r">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-dashboard purple-text"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="feature-title">Services</h4>
                    <a class="btn btn-secondary btn-sm ml-0 waves-light" [routerLink]="['/competence']" mdbRippleRadius>Learn more</a>
                </div>
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
    <!--Section: Features v.2-->
    
</div>
  <!--Section: Magazine v.2-->
</div>
<!--Section: Features v.3-->

    <!--Section: Features v.3-->
</div>

</div>